.outwrap-about{
    background-color:#f3f5f7;
    padding-bottom:30px;
    >.about-main {
        width: $page-container-width;
        margin:0 auto;
        padding-top:30px;
        @import '../modules/aboutLeft';
        @import '../modules/aboutRight';
    }
}
