section.article-list-img-content{
    height:240px;
    margin-top:20px;
    background:url("../images/article-bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 50%;
    &:before{
        position: absolute;
        content: "";
        width: 100%;
        height:240px;
        top:80px;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
    }
}
section.art-details-img-content{
    background:url("../images/tm-contact-img.jpg");
    background-size:100%;
}
section.article-container {
    width: $page-container-width;
    display:flex;
    height: 950px;
    margin: 20px auto;
    @import '../modules/articleLeft';
    @import '../modules/articleRight';
}
