/*
* @Author: dongying
* @Date:   2016-10-28 11:24:33
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-02 22:37:12
*/

$header-height:60px;
$header-bg:#fff;
$header-border-color:#854f4f;
$header-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
$header-login-btn-color:#7e3b3c;
$banner-anchor-width:60px;
$page-container-width:1190px;
$s-modules-h5-bg-color:#7a6e6e;
$read-btn-bg-color:#EE3B3B;
$tag-item-color:#f6f6f6;
$tag-item-bg-color:#865454;
$tag-item-box-shadow:0 1px 2px rgba(8, 8, 8, 0.6);
$rec-box-box-shadow:-1px 0 1px rgba(0,0,0,0.1), 0 1px 1px rgba(0,0,0,0.25), 1px 0 2px rgba(0,0,0,0.15);
$rec-first-header-color:#4998a1;
$rec-second-header-color:#7d2e5c;
$rec-third-header-color:#e77005;
body {
    font-family: Helvetica, Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "tohoma,sans-serif";
    font-size:14px;
    box-sizing: border-box;
}
body a{
    outline:none;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

/*头部*/

header#header {
    width: 100%;
    min-width: $page-container-width;
    height: $header-height;
    background: $header-bg;
    border-top: 3px solid $header-border-color;
    box-shadow: $header-box-shadow;
    >div.navbar-container {
        width: $page-container-width;
        margin: 0 auto;
        >div.navbar-header {
            margin-right: 100px;
            img {
                width: 100px;
                height: $header-height /6*5.7;
                vertical-align: middle;
            }
        }
        nav.nav {
            float: left;
            li.nav-item {
                float: left;
                >a {
                    display: inline-block;
                    height: 57px;
                    line-height: 57px;
                    vertical-align: middle;
                    color: #333;
                    padding: 0 20px;
                    background-color: $header-bg;
                    &:hover {
                        color: #fff;
                        background: $header-border-color;
                        text-decoration: none;
                        transition: all .3s;
                    }
                }
                a.login {
                    height: 30px;
                    line-height: 30px;
                    margin: 14px 16px 0 0;
                    vertical-align: middle;
                    color: #000;
                    border: 1px solid #ec570e;
                    border-radius: 4px;
                    &:hover {
                        color: #fff;
                        border:1px solid $header-login-btn-color;
                        background-color: $header-login-btn-color;
                        cursor: pointer;
                    }
                }
            }
            li.search {
                margin-left:80px;
                >a.searchLink {
                    position: relative;
                    >i.fa-search {
                        position: absolute;
                        top: 22px;
                        right: 40px;
                        color: #999;
                    }
                    >input {
                        width: 200px;
                        height: 30px;
                        line-height: 30px;
                        text-indent:15px;
                        border-radius: 15px;
                    }
                    &:hover {
                        color: #000;
                        background-color: $header-bg;
                    }
                }
            }
        }
    }
}


/*主体内容*/

#main {
    min-width: $page-container-width;
    /*轮播图*/
    .carousel-container {
        width: 100%;
        padding: 0;
        margin-top: 20px;
        a.banner-anchor {
            position: absolute;
            top: 50%;
            margin-top: -50px;
            width: $banner-anchor-width;
            height: $banner-anchor-width;
            overflow: hidden;
            text-indent: -90em;
            background-repeat: no-repeat;
            background-color: #14191e;
            border-radius: 6px;
            opacity: 0.8;
            &:hover {
                background-color: #14191e;
                opacity: 0.5;
            }
        }
        a.prev,
        a.next {
            position: absolute;
            top: 50%;
            height: $banner-anchor-width;
            width: $banner-anchor-width;
            background-image: url(../images/pre.png);
            background-position: center;
        }
        a.prev {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            z-index: 1;
            margin-left: 10px;
        }
        a.next {
            right: 10px;
        }
    }
    /*美文赏析*/
    section.about-main {
        width: $page-container-width;
        height:950px;
        margin: 20px auto;
        >article.about-left {
            float: left;
            width: 70%;
            border-image: url("../images/hr-bg.png");
            h5 {
                width: 100px;
                margin:10px auto;
                text-align: center;
                color: #999;
                border-bottom: 1px solid #999;
            }
            h4 {
                text-align: center;
                font-size:16px;
                margin:10px;
            }
            >div.article-content {
                p {
                    line-height: 26px;
                    margin-top: 10px;
                    span {
                        color: #CD5C5C;
                        margin-right: 10px;
                    }
                }
                a {
                    img {
                        width: 100%;
                        border-radius: 6px;
                    }
                }
            }
            >div.article-footer {
                color: #999;
                a.read-btn {
                    display: inline-block;
                    height: 36px;
                    line-height: 36px;
                    text-align:center;
                    color: #999;
                    margin: 10px 0;
                    padding: 0 16px;
                    border: 1px solid #EE3B3B;
                    border-radius:4px;
                    &:hover {
                        color: #fff;
                        background-color: #EE3B3B;
                    }
                }
                ul {
                    li {
                        display: inline-block;
                        label {
                            font-weight: normal;
                        }
                        a {
                            color: #CD3700;
                            margin: 0 10px;
                        }
                    }
                }
            }
        }

        /*右侧部分*/
        >section.about-right {
            float: left;
            width: 26%;
            margin-left: 20px;
            >div.s-modules {
                h5 {
                    width: 80%;
                    height: 36px;
                    line-height: 36px;
                    color: #fff;
                    text-align: center;
                    padding: 0 10px;
                    margin: 0 auto;
                    border-radius: 6px;
                    background-color:$s-modules-h5-bg-color;
                }
            }
            >div.about-us {
                >div.about-us-content {
                    width: 80%;
                    margin: 20px auto 10px;
                    img {
                        max-width: 100%;
                    }
                    p {
                        text-indent: 14px;
                        line-height: 26px;
                    }
                }
            }
            >div.about-tags{
                width:286px;
                margin:10px auto;
                border:1px solid #ddd;
                h4{
                    color:#fff;
                    height:32px;
                    line-height:32px;
                    background-image: -webkit-linear-gradient(90deg,#865454,#7e3b3c);
                    i{
                        display:inline-block;
                        padding:0 6px;
                    }
                }
                >div.about-tags-content{
                    width:100%;
                    padding:10px 10px;
                    a.tag-item{
                        display:inline-block;
                        height:26px;
                        line-height:26px;
                        color:#fff;
                        border-color:$tag-item-bg-color;
                        background-color:rgba(105, 17, 17, 0.68);
                        margin:6px 10px;
                        padding:0 10px;
                        max-width: 100px;
                        overflow: hidden;
                        word-wrap: break-word;
                        word-break: break-all;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        box-shadow:$tag-item-box-shadow;
                    }
                }
            }
            >div.about-programmer{
                >div.about-programmer-content{
                    ul{
                        li{
                            display:block;
                            height:130px;
                            margin:10px 0;
                            position:relative;
                            img{
                                position:absolute;
                                top:18px;
                                left:10px;
                                width:100px;
                                height:100px;
                                border-radius:4px;
                            }
                            a,span{
                                position:absolute;
                                width:160px;
                            }
                            a{
                                top:10px;
                                right:16px;
                                width:160px;
                                white-space:nowrap;
                                text-overflow:ellipsis;
                                overflow:hidden;
                                color:#3d1a1b;
                                font-size:16px;
                            }
                            span{
                                top:36px;
                                right:16px;
                                line-height:20px;
                                font-size:12px;
                            }
                        }
                    }
                }
            }
        }
    }
    /*推荐*/
    section.rec-container {
        clear:both;
        width: $page-container-width;
        margin: 20px auto;
        display: flex;
        display: -webkit-flex;
        flex-decoration: column;
        justify-content: space-between;
        >.rec-box {
            width: 390px;
            height: 440px;
            -webkit-animation: floorShow .3s 0s both;
            -moz-animation: floorShow .3s 0s both;
            animation: floorShow .3s 0s both;
            >.rec-header {
                position: relative;
                height: 55px;
                line-height: 55px;
                color: #fff;
                padding-right: 20px;
                i.box-icon-arrow {
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border-top: 20px solid #fff;
                    border-right: 20px solid transparent;
                }
                i:nth-of-type(2) {
                    position: absolute;
                    left: -4px;
                    top: -4px;
                    width: 24px;
                    height: 24px;
                    background-image: url("../images/icon.png");
                    background-size: 218px 188px;
                    -moz-background-size: 218px 188px;
                    background-repeat: no-repeat;
                }
                >h4 {
                    display: inline-block;
                }
                >a {
                    float: right;
                    color: #fff;
                    text-align: right;
                    &:hover {
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
            div.rec-first {
                background-color:$rec-first-header-color;
                background-image: -webkit-linear-gradient(left, #4998a1, #2e828b);
                background-image: -moz-linear-gradient(left, #4998a1, #2e828b);
                background-image: linear-gradient(90deg, #4998a1, #2e828b);
                >i.box-icon-first {
                    background-position: -190px -96px;
                    width: 24px;
                    height: 24px;
                }
            }
            div.rec-first+div.rec-content {
                a {
                    color: $rec-first-header-color;
                }
            }
            div.rec-second {
                background: $rec-second-header-color;
                background-image: -webkit-linear-gradient(left, #7d2e5c, #6f184a);
                background-image: -moz-linear-gradient(left, #7d2e5c, #6f184a);
                background-image: linear-gradient(90deg, #7d2e5c, #6f184a);
                >i.box-icon-second {
                    background-position: 0 -160px;
                    width: 24px;
                    height: 24px;
                }
            }
            div.rec-second+div.rec-content {
                a {
                    color:$rec-second-header-color;
                }
            }
            div.rec-third {
                background:$rec-third-header-color;
                background-image: -webkit-linear-gradient(left, #e77005, #e45d04);
                background-image: -moz-linear-gradient(left, #e77005, #e45d04);
                background-image: linear-gradient(90deg, #e77005, #e45d04);
                >i.box-icon-third {
                    background-position: -190px 0;
                    width: 24px;
                    height: 24px;
                }
            }
            div.rec-third+div.rec-content {
                a {
                    color:$rec-third-header-color;
                }
            }
            >.rec-content {
                width:389px;
                box-shadow:$rec-box-box-shadow ;
                >ul {
                    li {
                        height: 130px;
                        border-bottom: 1px dashed #ddd;
                        img,
                        a {
                            display: inline-block;
                            vertical-align: middle;
                        }
                        >img {
                            width: 150px;
                            height: 100px;
                            margin: 10px;
                            -webkit-transition: -webkit-transform .4s ease-out;
                            transition: -webkit-transform .4s ease-out;
                            -moz-transition: transform .4s ease-out, -moz-transform .4s ease-out;
                            transition: transform .4s ease-out;
                            transition: transform .4s ease-out, -webkit-transform .4s ease-out, -moz-transform .4s ease-out;
                        }
                        >a {
                            width: 200px;
                            color: #4998a1;
                            outline: none;
                        }
                    }
                    li:last-child {
                        border: none;
                    }
                }
            }
        }
    }
}


/*底部*/

footer#footer {
    width: 100%;
    min-width: $page-container-width;
    height: 120px;
    margin-top: 40px;
    color: #fff;
    background-color: rgba(7, 17, 27, 0.8);
    >.footer-container {
        width: $page-container-width;
        margin: 0 auto;
        ul {
            li {
                height: 36px;
                line-height: 36px;
                i {
                    font-size: 16px;
                }
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            li:nth-of-type(1) {
                margin-top: 10px;
            }
        }
        >.footer-left {
            float: left;
            width: 400px;
            margin-right: 20px;
            li.friend-link {
                border-bottom: 1px solid #fff;
                label {
                    margin-right: 10px;
                }
                a {
                    margin-right: 10px;
                }
            }
        }
        >.footer-right {
            float: right;
            margin-right: 60px;
            i {
                margin-right: 10px;
            }
        }
    }
}
