/*
* @Author: dongying
* @Date:   2016-11-03 14:13:19
* @Last Modified by:   anchen
* @Last Modified time: 2016-11-04 15:42:41
*/

$login-color:#03a9f5;
@import 'include/global';
div.login-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg") center / cover;
}

div.login-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background: rgba(40, 57, 101, .4);
}

div.login-html {
    overflow: hidden;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;
    padding: 60px 40px 50px 40px;
    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;

    input.sign-in,
    input.sign-up{
        display: none;
    }
    label.tab {
        color: #fff;
        display: inline-block;
        font-size: 18px;
        letter-spacing: 4px;
        padding-bottom: 5px;
        margin: 0 15px 10px 0;
        border-bottom: 2px solid transparent;
    }
    .sign-in:checked+label.tab,
    .sign-up:checked+label.tab {
        color: $login-color;
        border-color: $login-color;
    }
    >div.login-form {
    min-height: 345px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
        div.sign-in-box,
        div.sign-up-box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: all .4s linear;
            transition: all .4s linear;
        }
    }
    .sign-in:checked+label.tab,
    .sign-up:checked+label.tab {
        color: $login-color;
        border-color: $login-color;
    }
    .sign-up:checked + .tab + .login-form .sign-up-box {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    .sign-in:checked + label.tab + .sign-up + label.tab + .login-form .sign-in-box{
    -webkit-transform:rotate(0);
        -ms-transform:rotate(0);
            transform:rotate(0);
    }
    div.login-form{
        div.group {
            position: relative;
            font-size:16px;
            margin: 30px 20px;
            input {
                display: block;
                height: 36px;
                width: 100%;
                border: none;
                border-radius: 0 !important;
                padding: 0;
                background-color: transparent;
                box-shadow: none;
                border-bottom: 1px solid rgba(117, 117, 117, 0.15);
            }
            label.float-label {
                position: absolute;
                left: 0;
                top: 10px;
                color: #999;
                transition: 0.2s ease all;
                -moz-transition: 0.2s ease all;
                -webkit-transition: 0.2s ease all;
            }
            .input:focus {
                border-bottom: 2px solid $login-color;
                outline: none;
                box-shadow: none;
            }
            .input:focus ~.float-label{
                top: -15px;
                font-size: 12px;
            }
            input.button {
                font-weight: 100;
                color: #fff;
                margin: -3px 0px;
                padding: 5px 15px;
                border-radius: 25px !important;
                cursor: pointer;
                background: $login-color;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
            }
        }

        div.foot-lnk{
            text-align:center;
            margin:60px 0 50px 0;
            padding-top:20px;
            border-top:2px solid #BCBABA;
            a,label{
                color: $login-color;
                letter-spacing:4px;
                cursor: pointer;
            }
        }
        >div.sign-in-box{

            div.rem-pwd {
                input.check{
                    @extend input.sign-in;
                }
                label {
                    color:#999;
                    font-size:14px;
                    span.icon {
                        display: inline-block;
                        position: relative;
                        width: 15px;
                        height: 15px;
                        vertical-align: middle;
                        margin-top: -3px;
                        border-radius: 2px;
                        background: rgba(89, 90, 92, 0.9);
                    }
                }
                .check:checked + label {
                    color: $login-color;
                }
                .check:checked+label span.icon {
                    background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwcHgiIGhlaWdodD0iMTVweCIgdmlld0JveD0iMCAwIDIwIDE1Ij4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iNy4xNDMsMTQuOTM4IDAsNy43OTYgMi4wMjEsNS43NzYgNy4xNDMsMTAuODk4IDE3Ljk3OSwwLjA2MiAyMCwyLjA4MiAiLz4NCjwvc3ZnPg0K');
                    background-color: $login-color;
                    border-color: $login-color;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    -webkit-background-size: 11px auto;
                    -moz-background-size: 11px auto;
                    -o-background-size: 11px auto;
                    background-size: 11px auto;
                }
            }
        }
    }

}





