/*
* @Author: dongying
* @Date:   2016-12-29 14:59:47
* @Last Modified by:   anchen
* @Last Modified time: 2017-01-03 10:02:21
*/

$page-width:1300px;
$position-left:600px;
$border-radius:6px;
@mixin clearfix {
    &::after {
        content: ".";
        height: 0;
        visibility: hidden;
        display: block;
        clear: both;
    }
}
@charset "utf-8";
body {
    color: #7f8c97;
}

.container {
    padding: 50px 0;
    min-height: 720px;
    background: #3a3c48 url("../images/bg_1.png");
    width: 100%;
}

.cd-container {
    position: relative;
    background: url("../images/release-bg.png") no-repeat right top;
    width:$page-width;
    /* margin-left:120px; */
    padding-top: 10px;
    margin:0 auto;
    .light {
        position: absolute;
        left:$position-left / 2 + 50px;
        top: -50px;
        width:$position-left / 2 + 50px;
        height: 191px;
        background: url("../images/light-top.png") no-repeat top center;
        i {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: url("../images/light.png") no-repeat top center;
        }
    }
    .content {
        background: url("../images/line-bg.png") repeat-y $position-left + 18px 0;
        position:relative;
        .title {
            position: absolute;
            line-height: 40px;
            padding-left: 67px;
            left: $position-left;
            top: -50px;
            color: #58a6fb;
            font-size: 24px;
            background: url("../images/clock.png") no-repeat left top;
        }
    }
    .year {
        position: relative;
        z-index: 100;
        margin-top:30px;
        .year-name {
            height: 40px;
            width: $position-left - 40px;
            padding-right: 30px;
            font-size: 24px;
            line-height: 40px;
            text-align: right;
            a {
                color: #58a6fb;
            }
            i {
                display: block;
                position: relative;
                height: 0;
                width: 0;
                left: $position-left - 30px;
                top: -22px;
                border-width: 6px;
                border-style: solid;
                border-color: #59a7fb transparent transparent transparent;
                -webkit-transition: .5s;
                -moz-transition: .5s;
                -ms-transition: .5s;
                -o-transition: .5s;
                transition: .5s;
                -webkit-transform-origin: 6px 3px;
                -moz-transform-origin: 6px 3px;
                -ms-transform-origin: 6px 3px;
                -o-transform-origin: 6px 3px;
                transform-origin: 6px 3px;
            }
        }
    }
}

.list {
    position:relative;
    overflow-y:hidden;
    padding-bottom:35px;
    -webkit-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    -moz-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    -ms-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    -o-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    @include clearfix;
    section{
        padding-left:150px;
    }
    .cd-timeline-block {
        position: relative;
        margin-top: 30px;
        @include clearfix;
        .cd-timeline-img {
            position: absolute;
            top: 0;
            left: $position-left - 150px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
            img {
                display: block;
                width: 24px;
                height: 24px;
                position: relative;
                left: 50%;
                top: 50%;
                margin-left: -12px;
                margin-top: -12px;
            }
        }
        .cd-picture {
            background-color: #75ce66;
        }
        .cd-movie{
            background-color:#c03b44;
        }
        .cd-location{
            background-color:#873195;
        }
        .cd-timeline-content {
            width:450px;
            position: relative;
            background: white;
            border-radius: $border-radius;
            padding: 16px;
            box-shadow: 0 3px 0 #d7e4ed;
            &:before {
                content: '';
                position: absolute;
                top: 16px;
                right: 100%;
                height: 0;
                width: 0;
                border: 7px solid transparent;
                border-right: 7px solid white;
            }
            @include clearfix;
            h2 {
                color: #303e49;
            }
            p,
            .cd-read-more,
            .cd-date {
                font-size: 13px;
            }
            .cd-read-more,
            .cd-date {
                display: inline-block;
                @include clearfix;
            }
            p {
                margin: 4px 0;
                line-height: 22px;
            }
            .cd-read-more {
                float: right;
                padding: 12px 16px;
                background: #acb7c0;
                color: white;
                border-radius: $border-radius;
                &:hover {
                    background-color: #424242;
                }
            }
            .cd-date {
                float: left;
                padding: 12px 0;
                opacity: .7;
                color:#fff;
                font-weight:bold;
            }
        }
    }
}
.cd-timeline-block:nth-child(odd) .cd-timeline-img {
    top:14px;
}
.cd-timeline-block:nth-child(odd) .cd-timeline-content {
    margin-left: $position-left - 70px;
    &:before{
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
}

.cd-timeline-block:nth-child(odd) .cd-timeline-content .cd-read-more {
    float: right;
}

.cd-timeline-block:nth-child(odd) .cd-timeline-content .cd-date {
    position: absolute;
    left: -32%;
    top: 6px;
    font-size: 16px;

}

.cd-timeline-block:nth-child(even) .cd-timeline-content {
    margin-left: -70px;
    &:before{
        content: '';
        position: absolute;
        top: 16px;
        right:-13px;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-left: 7px solid white;
    }
}

.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: left;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    position: absolute;
    right: -30%;
    top: 6px;
    font-size: 16px;
}
.content .year.close h2 i{
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg)
}
.year.close .list{
    opacity:0;
    height:0!important;
}
